// colors

$body-color : #f9f9f9;
$side-navigation-color:#ffffff;
$common-color : #1f1e24;
$card-one-color:#ef4464;
$card-two-color:#47bec4;
$card-three-color:#1d1a21;
$font-grey-color:#848386;


//font weight

$thin : 100;
$light:200;
$regular : 400;
$medium:500;
$semiBold:600;
$bold:700;


